.card {
  width: 346px;
  height: 317px;
  background-color: var(--dark-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  border-radius: 8px;
  text-align: center;
  padding: 44px 27px 0;
  box-sizing: border-box;

  &-title {
    color: var(--neon-green);
    letter-spacing: 5px;
    font-size: 10px;
    margin: 0;
  }

  &-body {
    color: var(--light-cyan);
    font-weight: 800;
    font-size: 24px;
    margin: 0;
  }

  &-separator {
    height: 20px;
    width: 100%;
    background-image: url("../../images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &-btn {
    height: 33px;
  }
}

.btn {
  background-image: url("../../images/icon-dice.svg");
  background-repeat: no-repeat;
  background-color: var(--neon-green);
  background-position: 50%;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;

  &-hover:hover {
    box-shadow: 0px 0px 30px var(--neon-green);
  }
}

@media (min-width: 1440px) {
  .card {
    width: 542px;
    height: 334px;

    &-title {
      font-size: 12px;
    }

    &-body {
      font-size: 28px;
    }

    &-separator {
      background-image: url("../../images/pattern-divider-desktop.svg");
    }
  }
}
